.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--aqua); */
  flex: 2;
  height: 100vh;
  background-image: url(https://i.imgur.com/VrNQ9c2.jpg);
  background-repeat: no-repeat;
  background-size:100vw 100vh;
}